.icon {
  width:auto;
  max-width:70px;
  height: 70px;
  display: flex;
  flex-direction: row;

  background: none;
  cursor: pointer;
}
.icon-label{
  display: absolute;
  left: 0;
  color: white
}
.icon img {
  width: 100%;
  height: 100%;
}
.icon svg {


}
.icon-menu.active{
  clip-path: url(#chem-clip);
  -webkit-clip-path: url(#chem-clip);
}
.icon:hover, .scheduled:hover, .submenu a:hover {
  transform: scale(1.05);
}
