

nav{
    position: fixed;
    right: 0;
    
    padding: 10px;
    
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    gap: 15px;
    z-index: 1;
 


}
main{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh
    
}
footer{
    background-color: black;
    color: white;
    height: 100vh;
    text-align: center;
    padding: 20px;
}